<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>version</key>
	<string>1.0.0</string>
	<key>color</key>
	<dict>
		<key>tint</key>
		<dict>
			<key>light</key>
			<string>#020202</string>
			<key>dark</key>
			<string>#FFFFFF</string>
		</dict>
		<key>subTint</key>
		<dict>
			<key>light</key>
			<string>#D2A837</string>
			<key>dark</key>
			<string>#FBFBFB</string>
		</dict>
		<key>background</key>
		<dict>
			<key>light</key>
			<string>#F9F9F9</string>
			<key>dark</key>
			<string>#000000</string>
		</dict>
		<key>subBackground</key>
		<dict>
			<key>light</key>
			<string>#FFFFFF</string>
			<key>dark</key>
			<string>#1C1C1E</string>
		</dict>
		<key>separator</key>
		<dict>
			<key>light</key>
			<string>#F9F9F9</string>
			<key>dark</key>
			<string>#2C2C2E</string>
		</dict>
		<key>border</key>
		<dict>
			<key>light</key>
			<string>#F9F9F9</string>
			<key>dark</key>
			<string>#2C2C2E</string>
		</dict>
		<key>empty</key>
		<dict>
			<key>light</key>
			<string>#F9F9F9</string>
			<key>dark</key>
			<string>#2C2C2E</string>
		</dict>
		<key>title</key>
		<dict>
			<key>light</key>
			<string>#020202</string>
			<key>dark</key>
			<string>#FFFFFF</string>
		</dict>
		<key>body</key>
		<dict>
			<key>light</key>
			<string>#181818</string>
			<key>dark</key>
			<string>#FBFBFB</string>
		</dict>
		<key>subBody</key>
		<dict>
			<key>light</key>
			<string>#232323</string>
			<key>dark</key>
			<string>#F8F8F8</string>
		</dict>
		<key>mark1</key>
		<dict>
			<key>light</key>
			<string>#D2D2D2</string>
			<key>dark</key>
			<string>#747579</string>
		</dict>
		<key>mark2</key>
		<dict>
			<key>light</key>
			<string>#F2F2F7</string>
			<key>dark</key>
			<string>#F2F2F7</string>
		</dict>
	</dict>
	<key>fontName</key>
	<dict>
		<key>title</key>
		<string>PingFangSC-Regular</string>
		<key>body</key>
		<string>PingFangSC-Light</string>
	</dict>
	<key>fontSize</key>
	<dict>
		<key>title</key>
		<dict>
			<key>s</key>
			<integer>15</integer>
			<key>m</key>
			<integer>17</integer>
			<key>l</key>
			<integer>18</integer>
			<key>xl</key>
			<integer>20</integer>
		</dict>
		<key>body</key>
		<dict>
			<key>s</key>
			<integer>13</integer>
			<key>m</key>
			<integer>14</integer>
			<key>l</key>
			<integer>15</integer>
			<key>xl</key>
			<integer>16</integer>
		</dict>
		<key>mark</key>
		<dict>
			<key>s</key>
			<integer>10</integer>
			<key>m</key>
			<integer>11</integer>
			<key>l</key>
			<integer>12</integer>
			<key>xl</key>
			<integer>14</integer>
		</dict>
	</dict>
</dict>
</plist>
